.vimeovideo {display: inline-block; width: 100%;}
.vimeovideo iframe { border: none; margin-right: 1em; margin-top: 0.3em; margin-bottom: 0.3em; display: block; width: 220px; height: 130px; float: left;
}
.vimeovideo .breaker {margin-top: -10px; display: inline-block; width: 256px; height: 1px; padding: 0; margin: 0}
.vimeovideo p.title {padding: 0; margin-top: -16px; margin-bottom: 8px;}
.vimeovideo p, .vimeovideo ul {min-width: 200px !important; white-space: normal !important}
.vimeovideo ul {list-style: none; padding: 0; margin: 0; line-height: 1.4em; display: inline; }
.vimeovideo ul li {margin: 0; display: inline; white-space: nowrap}
.vimeovideo ul, .vimeovideo ul li a,.vimeovideo .start, .vimeovideo .start a, .vimeovideo .label {color: #777}
.vimeovideo ul li:first-child {padding-left: 0; padding-right: 0}
.vimeovideo ul li:last-child {border-right: none}
.vimeovideo ul li::after {content: "•"; padding: 0 0.3em}
.vimeovideo ul li:last-child::after {display: none}
.vimeovideo p.link {margin-top: 1em; white-space: nowrap}
