<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<div class="vimeoVideo">
			<figure>
				<div class="videoWrapper" style="
						height: 0;
						overflow: hidden;
						position: relative;
						padding-bottom:
							<f:if condition="{data.tx_vimeovideo_ratio} == 0">
								{ratioDefault}%
							</f:if>
							<f:if condition="{data.tx_vimeovideo_ratio} == 1">
								{ratio1}%
							</f:if>
						;
					">
					<iframe
						id="vimeoVideo_{uid}"
						src="https://player.vimeo.com/video/{code}?byline=0
						&amp;portrait=0
						&amp;badge=0
						&amp;color={color}
						&amp;autoplay={data.tx_vimeovideo_autoplay}
						&amp;loop={data.tx_vimeovideo_loop}
						&amp;title={data.tx_vimeovideo_caption}"
						style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"
						webkitallowfullscreen mozallowfullscreen allowfullscreen>
					</iframe>
				</div>
				<f:if condition="{data.tx_vimeovideo_caption}">
					<figcaption>
						<p class="figureCaption">{data.tx_vimeovideo_caption}</p>
					</figcaption>
				</f:if>
			</figure>
		</div>
	</f:section>
</html>
